html,body {
    margin: 0!important;
    padding: 0!important;
    width: 100%;
    height: 100%;
}
.page-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.custom-side {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #f2f2f2;
    overflow: hidden;
}
.custom-tabs {
    position: relative;
    height: 48px;
    border-bottom: 1px solid #e5e4e4
}
.custom-tabs span {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.custom-tabs .custom-tabs-active {
    color: #338acb;
    border-bottom: 1px solid #338acb;
}
.tree-wrap {
    box-sizing: border-box;
    position: absolute;
    top: 48px;
    left: 0;
    bottom: 0;
    padding: 13px 11px;
    width: 100%;
}
.tree-box {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    border: 1px solid #e1e1e1
}
/* 主窗口 */
.custom-main {
    margin-left: 300px;
    height: 100%;
    position: relative;
}
.map-box {
    width: 100%;
    height: 70%;
}
.draw-shape{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    z-index: 100;
}
.draw-shape li{
    margin-right: 14px;
    float: left;
    width: 50px;
    height: 40px;
    background-color: #ddd;
    line-height: 40px;
    text-align: center;
}
.map-layers{
    width: 100%;
    height: 30%;
}
.layers-box{
    height: 50px;
    background-color: #fff;
}
.layers-box>div:nth-child(1){
    float: left;
    width: 30%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
}
.layers-box>div:nth-child(2){
    float: right;
    width: 40%;
    padding-right: 20px;
}
.layers-box>div>button{
    float: right;
    margin-top: 10px;
}
.layers-box>div>button:nth-child(2){
    margin-right: 10px;
}
.user-table-box{
    width: 100%;
    height: calc(100% - 63px);
}
.fixed-table-container {
    height: 100% !important;
}
.fixed-table-toolbar {
	display: none;
}
.user-add-container{
	width: 780px;
    height: 530px;
}


table,
td,
tr,
th
{
    margin: 0;
    padding: 0;
    border: 0;
}
html,
body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 14px!important;
}
.page-wrap
{
    position: relative;
    width: 100%;
    height: 100%;
}
.page-head
{
    z-index: 99;
    width: 100%;
    height: 60px;
    padding-right: 2rem;
    background-color: #285393;
    /* box-shadow: 0 0 9px 0px #666; */
    position: absolute;
}
.page-head-wrap
{
    position: relative;
    height: 57px;
    margin: 0 auto;
    padding-top: 18px;
}
.page-logo
{
    width: 450px;
    height: 34px;
    background: url(../img/user_manage_logo.png) no-repeat center -4px;
    background-size: cover;
}
/* 导航与工具条 */
.page-head-bar
{
    position: absolute;
    top: 0;
    right: 0;
}
.page-head-bar a
{
    line-height: 18px;
    display: inline-block;
    margin-top: 20px;
    padding: 0 5px;
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.page-head-bar a .fa{margin-right: 5px;}
.page-back-home{margin-right: 5px;}

/* chrome 滚动条 */
.scrollbar-x:hover::-webkit-scrollbar-thumb, .scrollbar-y:hover::-webkit-scrollbar-thumb {
     -webkit-border-radius: 20px;
     border-radius: 20px;
     /* background-color: #eee; */
    -webkit-background-clip: padding-box;
     background-clip: padding-box;
     border: 2px solid transparent;
}
.scrollbar-x::-webkit-scrollbar-thumb,.scrollbar-y::-webkit-scrollbar-thumb {
     -webkit-border-radius: 20px;
     border-radius: 20px;
     background-color: #bbb;
     -webkit-background-clip: padding-box;
     background-clip: padding-box;
     border: 2px solid transparent;
}
.scrollbar-x:hover::-webkit-scrollbar, .scrollbar-y:hover::-webkit-scrollbar {

     background: #e6e6e6;
}
.scrollbar-x::-webkit-scrollbar,.scrollbar-y::-webkit-scrollbar {
     width: 12px;height: 12px;
     background: #eaeaea;border-radius: 10px;
}
.scrollbar-x:hover::-webkit-scrollbar-thumb, .scrollbar-y:hover::-webkit-scrollbar-thumb {
     /* background: #f3f3f3; */
}

.modal .scrollbar-x::-webkit-scrollbar-thumb,.modal .scrollbar-y::-webkit-scrollbar-thumb {
     -webkit-border-radius: 20px;
     border-radius: 0px;
     background-color: #67a7e7;
     -webkit-background-clip: padding-box;
     background-clip: padding-box;
     border: 0px solid transparent;
}
.modal .scrollbar-x::-webkit-scrollbar,.modal .scrollbar-y::-webkit-scrollbar {
     width: 6px;height: 6px;
     background: #eaeaea;border-radius: 0px;
}

.hidden{display: none!important;}
/* .hidden{display: none;} */
ul,li{list-style-type: none;margin: 0;padding: 0;}





/* 导航头部 */
.header{background: #336699;color:#fff;position: fixed;
top: 0;
left: 0;
z-index: 13600;
width: 100%;
height: 60px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}



.content-container{padding-top: 60px;height: 100%;}
#slideMenu{
    /* box-shadow: 0 0 10px 0px #8d8787; */
    z-index: 50;padding-right: 0;
}
.menuBar{
    background: #383c4b;color:#fff;height: 100%;justify-content: flex-start;
    padding-top: 6px;
}
.slideMenu .btn.btn-function{overflow: hidden;border-radius: 0;}
.slideMenu .btn.btn-function .iconContainer{width: 100%;line-height: 37px;padding: 0;}
.fa-user-copy::before{
    content:' ';background: url(../img/yonghu.png) no-repeat;width: 1.3rem;height: 1.3rem;background-size: contain;display: inline-block;background-position: bottom;margin-bottom: -2px;}
.fa-authority::before{
    content:' ';background: url(../img/quanxian.png) no-repeat;width: 1.5rem;height: 1.7rem;background-size: contain;display: inline-block;  background-position: bottom;margin-bottom: -5px;}

.fa-exchange::before{
     content:' ';background: url(../img/jiaohuan.png) no-repeat;width: 1.4rem;height: 1.4rem;background-size: contain;display: inline-block;  background-position: bottom;margin-bottom: -5px;
}
.fa-home::before{
     content:' ';background: url(../img/zhuye.png) no-repeat;width: 1.2rem;height: 1.2rem;background-size: contain;display: inline-block;  background-position: bottom;margin-bottom: -3px;
}

.fa-user-o::before{
     content:' ';background: url(../img/user-o.png) no-repeat;width: 1.2rem;height: 1.2rem;background-size: contain;display: inline-block;  background-position: bottom;margin-bottom: -3px;
}
.fa-plus-circle::before{
     content:' ';background: url(../img/add.png) no-repeat;width: 1.5rem;height: 1.5rem;background-size: contain;display: inline-block;  background-position: bottom;margin-bottom: -5px;
}
.fa-trash::before{
     content:' ';background: url(../img/trash.png) no-repeat;width: 1.5rem;height: 1.5rem;background-size: contain;display: inline-block;  background-position: bottom;margin-bottom: -5px;
}
.fa-user-plus::before{
     content:' ';background: url(../img/user-plus.png) no-repeat;width: 1.2rem;height: 1.2rem;background-size: contain;display: inline-block;  background-position: bottom;margin-bottom: -2px;
}

.btn{border-radius: 0;}
.slideMenu .btn.btn-function .fa{/* width: 100%; */font-size: 1.3rem;}
.slideMenu .btn.btn-function span{display: inline-block;}
.slideMenu .btn.btn-function:hover{
    background: #ddd;
    color: rgba(75,175,255,.9);
}
.menu-btn-function{height: 50px;width: 100%;}
.slideMenu{width: 180px;}
.slideMenu .btn.btn-function.btnActive{
    background: #fff;
    color: #0099cc;
}
.slideMenu .btn.btn-function:hover .fa-user-copy::before,.slideMenu .btn.btn-function.btnActive .fa-user-copy::before{
    background: url(../img/yonghu-h.png) no-repeat;width: 1.3rem;height: 1.3rem;background-size: contain;display: inline-block;background-position: bottom;margin-bottom: -2px;
}
.slideMenu .btn.btn-function:hover .fa-authority::before,.slideMenu .btn.btn-function.btnActive .fa-authority::before{
    background: url(../img/quanxian-h.png) no-repeat;width: 1.5rem;height: 1.7rem;background-size: contain;display: inline-block;background-position: bottom;margin-bottom: -5px;
}



.card-title .action-group{padding-left: 0;padding-top: .2rem;margin-left: 0;white-space: nowrap;overflow: auto;}
.card-title .action-group+.col .form-inline{padding-top: .2rem;}
.form-inline{flex-wrap: nowrap;overflow: auto;}

/* 右边内容 */
table{font-size: 1rem;}
.content{width: calc(100% - 190px);padding-top: 0px;padding-left: 0px;overflow: hidden;}
.card{background-color: rgba(0,0,0,.03);overflow: hidden;border-bottom: none;}
.plane,.plane .card{height: 100%;}
.card-title{margin-left: 0;margin-right: 0;}
.plane .card-body{padding: 1rem 0;background: #f1f6f5;position: relative;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.plane .card-header{border-bottom: 0;background: none;margin-left: 2.25rem;padding-left:0;}
.plane .card-header span{border-left: 3px solid blue;border-radius:2px;padding-left: 1.5rem;font-size: 18px;
    }

table input[type=checkbox]{
    width: 1rem;height: 1rem;
}


.content .content-content{
    width: 100%;
    height: 100%;position: absolute;
}

.plane .card-header,.plane .card-body,.plane .tablefooter{margin: 1rem;}
.content #authority .plane .card-header,.content #authority .plane .card-body,.plane .tablefooter,.content #character .plane .card-header,.content #character .plane .card-body,.plane .tablefooter{margin: 0 1rem .5rem;}

/* 头部按钮操作 */
.action-group i{margin-right: 4px;}
.card-body .form-inline{justify-content: flex-end;}



/* 管理人员 */
table td,th{text-align: left;white-space: nowrap;}
.table-copy table{margin-bottom: 0;}
/* #memberTable thead th,#characterTable thead th,#authorityTable thead th{ */
 thead th{
    background: #0099cc;
    color: #fff;
}
tbody tr td .action:not(:first-child){padding-left: 1rem;}
#content table tr
{
    transition: 1s ease-in;
}

/* 删除动画 */
.remove-animation
{
    transform: translate(150%,0);
}

.table-content{overflow: auto;}
.table-content .table{margin-bottom: 0;border-bottom: 1px solid #eee;}

.tablefooter{
    margin-top: 1rem;position: absolute;bottom: 0;width: 100%;padding: 0 .5rem .7rem .5rem;background: none;margin-left: 2.25rem;padding-right: 4rem;white-space: nowrap;
    overflow: auto;
}
.tablefooter .textInfo{padding: .5rem 0;cursor: default;}
.tablefooter .textInfo .text-primary{color:#006699;}
.pagination{display: block;}
.pagination li{float: left;margin: 0 4px;}
.pagination li a{border-radius: 2px;color:#999999;overflow: hidden;}
.page-item.active .page-link {
    background-color: #3399ff;
}

.search-head-btn .fa:hover{color:#999;}
.search-head-btn{
    position: absolute;top: 4px;background: none;border: none;z-index: 5;
    right: 24px;color: #3399cc;}
.search-head-btn:active,.search-head-btn:focus{
    border: none;outline: 0;box-shadow: none;
}



/* 模态框 */
.modal-header{
    color: #fff!important;padding: 1rem;
    background-color: #0099cc;border-radius: 0;
}
.modal-header .close{
    color: #fff!important;outline: 0;
}
.modal-content{
    border: none;border-radius: 0;
}
.modal .modal-footer
{
    justify-content: center;
}
.modal-footer > :not(:last-child)
{
    margin-right: 1rem;
}
.modal-footer > :not(:first-child)
{
    margin-left: 1rem;
}


input[type="radio"]+label{padding: 0 .5rem;cursor: pointer;}
/* .modal input[type="radio"]{} */

.custom-control-label::after{width: 1.3rem;height: 1.3rem;}
.custom-control-label::before{width: 1.3rem;height: 1.3rem;}
.btn.btn-primary
{
    background-color: #0099cc;
    border-color: #009ddc;border-radius: 0;
}
.btn.btn-primary:hover,.btn.btn-primary:active,.btn.btn-primary:focus{
    background-color: #00ccff!important;box-shadow: none!important;
}
.btn-none,.btn-none:active,.btn-none:focus{
    background: none;border: none;outline: none;box-shadow: none;padding-left: 10px;
}
.btn-none label{margin-bottom: 0;}
.form-control{border-radius: 0!important;}
.form-control:focus{
    /* box-shadow: none!important; */
    box-shadow: 0 0 3px 0px rgba(0,123,255,.25);
}

/* 树形菜单样式 */
.tree-container{
    /* position: fixed; */
    left: 0;
    /* top: 60px; */
    z-index: 30;
    height: calc(100% - 40px);overflow: auto;
    background: rgba(255,255,255,.8);
    width: 250px;padding-right: 0;
}
.tree-container,#content{float: left;position: relative;}

#content .card{background: #fff;}

/* 树形菜单 */
.treeview{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;}
.treeview .list-group-item:first-child{border-radius: 0;}
.treeview .list-group-item:last-child{border-radius: 0;}
.treeview .list-group-item{background: rgba(255,255,255,.8);padding: 0.5rem 1rem;border:none;white-space: nowrap;}
/* .list-group-item .badge{float: right;padding: .4rem;} */
/* .list-group-item .badge{position: absolute;top: 30%;}
.list-group-item .badge:nth-child(3){right: 40px;}
.list-group-item .badge:nth-child(3)+.badge{right: 25px;}
.list-group-item .badge:nth-child(3)+.badge+.badge{right: 10px;} */

.list-group-item .badge .fa{position: relative;top: 30%;}
.list-group-item .badge .fa-plus-circle{right: -15px;}
.list-group-item .badge .fa-minus-circle{right: -15px;}
.list-group-item .badge .fa-pencil-square-o{right: -15px;}







/* 消息提示 */
.tips
{
    z-index: 9999;
}
.tips
{
    font-size: 1.3rem;
    line-height: 1.5;
    position: absolute;
    /* top: 80%; */
    left: 50%;
    display: inline-block;
    overflow: hidden;
    max-width: 90%;
    padding: 7px 20px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #fff;
    border-radius: 4px;
    /* background: rgba(50,50,50,.6); */
    background: rgba(39, 82, 147, .76);

}
.tips.fromBottom{
    bottom: 18%;
    opacity: .5;
}
.tips.fromTop{
    top: 78%;
    opacity: .5;
}




/* 选择框 */
.confirms-layer-shade
{
    position: fixed;
    z-index: 19891016;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    opacity: .3;
    background-color: #000;
    filter: alpha(opacity=30);
}
.confirms-layer
{
    position: absolute;
    top: 10%;
    left: 10%;
    background: #fff;
}
.confirms-layer-dialog
{
    z-index: 19891017;
    top: 30%;
    left: 40%;
    overflow: hidden;
    min-width: 260px;
    border-radius: 10px;
}
.confirms-layer-title
{
    font-size: 14px;
    line-height: 42px;
    overflow: hidden;
    height: 42px;
    padding: 0 80px 0 20px;
    color: #fff;
    border-bottom: 1px solid #eee;
    border-radius: 2px 2px 0 0;
    background-color: #0099cc;
}
.confirms-layer-dialog .confirms-layer-padding
{
    padding: 20px 20px 20px 55px;
    text-align: left;
}
.confirms-layer-dialog .confirms-layer-content
{
    font-size: 14px;
    line-height: 24px;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    word-break: break-all;
}
.confirms-layer-setwin
{
    font-size: 0;
    line-height: initial;
    position: absolute;
    top: 15px;
    right: 15px;
}
.confirms-layer-btn
{
    padding: 0 10px 12px;
    -webkit-user-select: none;
            user-select: none;
    text-align: right;
    pointer-events: auto;
}
.confirms-layer-btn .confirms-layer-sure
{
    color: #fff!important;
    border-color: #4898d5;
    background-color: #2e8ded;
}

.confirms-layer-btn a
{
    font-weight: 400;
    line-height: 28px;
    display: inline-block;
    height: 28px;
    margin: 6px 6px 0;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    border: 1px solid #dedede;
    border-radius: 2px;
    background-color: #f1f1f1;
}
.confirms-layer-cancel:hover{background: #ddd;}
.confirms-layer-sure:hover{background: #3388dd;}


/* 人员分配模态框 */
#newMemberModal{margin-top: 3rem;}
#memberNodeModal{margin-top: 3rem;}
#memberGiveCharacterModal{margin-top: 3rem;}
#newAuthorityModal{margin-top: 3rem;}
#newCharacterModal{margin-top: 5rem;}
.choicedCharacterLi .fa.delete{line-height: 2.1rem;cursor: pointer;}
/* #memberGiveCharacterModal .modal-header{padding: .5rem 1rem;} */
.breadcrumb{padding: .5rem;background: #e6e9ec;margin-bottom: .5rem;}
#memberGiveCharacterModal #choicedCharacter.row{margin: 0;height: 130px;overflow-x: hidden;overflow-y: auto;margin-bottom: 1rem;box-shadow: inset 0px -16px 26px -19px #ccc;
    align-content: flex-start;
}
.choicedCharacterLi{border-bottom: 1px solid #ddd;height: 2.1rem;line-height: 2.1rem;transition: 1s;}


.page-link:focus{box-shadow: none;}
.modal{opacity: 0.98;}
/* label.checkbox-label{display: inline-block;padding: 0rem 2.5rem .2rem 0;text-align: center;} */
label.checkbox-label{display: inline-block;;padding: 0rem 2.5rem .2rem 0;text-align: left!important;}
table label.checkbox-label{margin-bottom: 0;padding-right: 0;}
table thead label i.checkbox::before{border:1px solid #fff;}

table thead label input:checked+i.checkbox::before{background:url(../img/checked-white.png) no-repeat;border:1px solid #fff;background-size: contain;background-position: center;}
table  th:first-child{padding: .7rem 0 .7rem 10px;
    text-align: right;width: 1rem;}

label input[type="checkbox"]{display: none;}
label i.checkbox{display: inline-block;margin-right: 5px;}
label i.checkbox::before{width: 1rem;height: 1rem;display: block;border:1px solid #999;content:'1;';color:transparent;font-family: FontAwesome;font-size: 1rem;
    text-align: left;line-height: 1rem;}

label input:checked+.checkbox::before{background:url(../img/checked.png) no-repeat;border:1px solid #2299dd;
    background-size: contain;background-position: center;}
label input:checked+i+span{
    color: #2299dd;
}

#memberGiveCharacterModal  #setCharacterSelect{margin-bottom: 1rem;width: 60%;}
#memberGiveCharacterModal  .modal-body{margin: 0rem;padding: 1rem;}
#getCharacterPowerModal  .modal-body{padding: 1rem 0;margin: 0;}
#getCharacterPowerModal  #power li{padding-left: .5rem;}
#getCharacterPowerModal  #power li label{width: 100%;margin: 0;padding: .3rem;}
#getCharacterPowerModal  #power li span.description{
    float: right;
    width: 60%;white-space: nowrap;text-overflow:ellipsis;
}
#getCharacterPowerModal  #power li:hover{
    background: #e3e3e3;color: #2b77fc;
}
#getCharacterPowerModal  #power li.active{
    color: #2b77fc;
}
#memberGiveCharacterModal .row.characterCheckbox{margin: 0;}

#giveMemberPowerModal .modal-body{
    margin: 1rem;
    padding-top: 1rem;
    padding: 0;
    border: 1px solid #e6e9ec;border-top: 0;
}
.areaRoute{
    padding: 0rem;
    background: #e6e9ec;
    margin-bottom: 0rem;}
#giveMemberPowerModal .choice .col{
    padding-top: .5rem;
}
#giveMemberPowerModal .choice .col:first-child{
    border-right: 3px solid #e9ecef;
}
#giveMemberPowerModal .choice .col:last-child{
    border-left: 3px solid #e9ecef;
}
#giveMemberPowerModal .choiceSquare{padding: 0 .5rem;}
#giveMemberPowerModal .areaList{
    height: 17rem;overflow: auto;
}
#giveMemberPowerModal #notSet,#giveMemberPowerModal #seted{
    margin-top: 1rem;
    margin-bottom: .2rem;
}
#giveMemberPowerModal .areaList li{
    padding:.1rem 1rem;margin-bottom: 3px;line-height: 2;position: relative;
}
#giveMemberPowerModal .areaList li .fa{
    display: none;position: absolute;right: 1rem;top: 30%;
}
#giveMemberPowerModal .areaList li label{
 margin-bottom: 0;padding: .1rem 0;width: 80%;
}
#giveMemberPowerModal .areaList li:hover,#giveMemberPowerModal .areaList li.active{
    background: #eee;color: #5599ff;
}
#giveMemberPowerModal .areaList li:hover .fa,#giveMemberPowerModal .areaList li.active .fa{
    display: block;}

#giveMemberPowerModal .search p{
    display: inline-block;height:calc(2.25rem + 2px);
    padding: .375rem .75rem;color: #666;margin: 0;
}
.page-link:focus{box-shadow: none;}

#giveMemberPowerModal .choice .changicon{
    width: 15px;
        height: 30px;
        position: absolute;
        z-index: 33;
        top: 50%;cursor: pointer;
        left: 50%;transform: translate(-50%,-50%);
}
#giveMemberPowerModal .choice .changicon .left{
 width: 15px;height: 15px;background: url(../img/left.png) center no-repeat;background-size: cover;/* background-color: #aaa; */
}
#giveMemberPowerModal .choice .changicon .right{
 width: 15px;height: 15px;background: url(../img/right.png) center no-repeat;background-size: cover;/* background-color: #3399dd; */
}



.modal .form-inline-block{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;}
.modal .form-inline-block label{flex:1;text-align: right;line-height: 28px;padding-right: 1rem;}
.modal .form-inline-block label+div{flex:3;}
.modal .form-inline-block label+input{flex:3;}
.modal .form-inline-block label+select{flex:3;}
.modal .form-inline-block label+textarea{flex:3;}
.modal-body{padding: 3rem 3rem 1rem;}

#foldTree{
    display: inline-block;
    position: fixed;
    top: 50%;transform: translateY(-50%);font-size: 2rem;z-index: 1000;
    left: 9.5rem;cursor: pointer;
}
.treeview:hover+#foldTree{
    display: inline-block;
}
#cancelFoldTree{
    display: inline-block;
    position: fixed;
    top: 50%;transform: translateY(-50%);font-size: 2rem;z-index: 1000;
    left: .5rem;cursor: pointer;
}

#foldTree .fa:hover,#cancelFoldTree .fa:hover{
    color: #999;
}
.navIn{position: relative;margin-top: .5rem;margin-bottom: .2rem;}
.navIn .breadcrumb{background: #fff;}
.returnPlatform{position: absolute;right: 4rem;top: 6px;}

a.manageAuthority,a.manageCharacter{
    text-decoration: none;
}
.manageAuthority:hover,.manageCharacter:hover{
    color: #336699;
}
.manageAuthority .fa-share,.manageCharacter .fa-share{
    -webkit-transform: rotate(150deg);
       -moz-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
         -o-transform: rotate(150deg);
            transform: rotate(150deg);
}
@media (min-width: 576px){
   .modal-dialog {
    max-width: 560px;
    }
}
